/* Estilos para la clase default-button */
.default-button {
    -fx-background-color: #576eb5 ;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}



.default-button:pressed {
    -fx-background-color:#3b4252; /* Un azul aún más oscuro al presionar */
}

/* Estilos para la clase negative-button */
.negative-button {
    -fx-background-color: #B71C1C; /* Un color rojo */
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.negative-button:hover {
    -fx-background-color: #B71C1C; /* Un rojo más oscuro al pasar el ratón */
}

.negative-button:pressed {
    -fx-background-color: #841420; /* Un rojo aún más oscuro al presionar */
}


/* Estilo para el Circle del beat visual */
.beatCircle {
    -fx-fill: #91ed57; /* Verde */
    -fx-radius: 11.0;
    -fx-stroke: transparent;
    -fx-stroke-type: inside;

    /* Controlar la opacidad */
    -fx-opacity: 1.0; /* Opcional: Opacidad por defecto en CSS (la estableceremos a 0 en Java al inicio) */

    /* Añadir una transición suave para la opacidad */
    /* Esto significa que los cambios en -fx-opacity duraran 0.3 segundos */
    -fx-transition: -fx-opacity 0.3s ease-in-out;
    /* 'ease-in-out' hace que la animacion empiece y termine suavemente */
}